* {
    font-family: "Space Mono", monospace;
}

body {
    margin:0;
    font-family: 'Space Mono', monospace; /* Police principale */    
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .logo {
        padding-top: 20px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 30px;

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-size: clamp(12px, 2vw, 16px);;
        }
    }
}

main {
        width: 100vw;
        margin: 0 auto;    /* Centre le contenu horizontalement */
        padding: 0;  
    }
    
.banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0; 
    padding: 0; 

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    h1 {
        font-size: 80px;
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        font-style: italic;
        text-transform: uppercase;
        text-align: center;
        padding: 0 20px;
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
       .banner {
        height: 300px; /* Réduction de la hauteur de la bannière */

        img {
            height: 100%; /* S'assure que l'image couvre bien la hauteur */
            width: 100%;
        }

        h1 {
            font-size: 50px; 
            -webkit-text-stroke-width: 2px; /* Ajustement de l'épaisseur du contour */
        }
    }
}
.photos {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;

    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .myform {
        border-radius: 8px;
        border-color: #B8BBC2;
        padding: 10px 10px;
        min-width: 200px;

        &:hover {
            border-color: #215AFF;
        }
    }
}
@media screen and (max-width: 768px) {
    .photos {
        .select-filtres {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%; /* Permet au champ de prendre toute la largeur disponible */
                box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
        
        .filtres1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            .myform {
                margin-bottom: 5px;
            }
        }

        .filtres2 {
            flex-direction: column;
        }
    }
}
}
.photos_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 0;

    .photo_item {
        width: calc(50% - 15px);
        position: relative;

        &:hover .overlay {
            display: flex;
        }

        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.761);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            box-sizing: border-box;
            display: none;
            cursor: pointer;

             /* Conteneurs des icônes */
        .full {
            position: absolute;
            top: 20px; /* Distance depuis le haut */
            right: 20px; /* Distance depuis la droite */
            width: 24px;
            height: 24px;

                img {
                    width: 24px; /* Taille de l’icône */
                    height: 24px;
                    object-fit: contain; /* Ajuste la taille pour éviter l'étirement */
                }
                }

        .eye {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;

            img {
                width: 24px; /* Taille de l’icône */
                height: 24px;
                object-fit: contain; /* Ajuste la taille pour éviter l'étirement */
            }
        }

        .infos {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 20px; /* Distance depuis le bas */
            left: 10px;
            right: 10px;
            box-sizing: border-box;

            div {
                color: white;
                font-size: 14px;
                text-align: center; /* Centre le contenu textuel dans chaque div */
                padding: 0 10px; /* Ajoute un espace interne pour éviter que le contenu touche les bords */
                text-transform: uppercase;
            }
        }
    }
}
}
@media screen and (max-width: 768px) {
    .photos_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;

        .photo_item {
            position: relative;
            height: 278px;
            width: 80%;
           
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    }
}

.load-more {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 

    button {
    padding: 10px 20px; 
    font-size: 12px; 
    color: black; 
    background-color: #D8D8D8; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
        &:hover {
             background-color: black; 
             color: white;
        }
    }
}
footer {
    border-top: 1px solid black;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 60px;
        
        a {
            text-transform: uppercase;
            color: black;
            text-decoration: none;
        }
    }
    p {
        text-transform: uppercase;
    }
}

// contact form

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;

    &.show {
        display: flex;
    }

    .popupin {
        width: 100%;
        max-width: 600px;
        min-height: 200px;
        background-color: white;
        padding-top: 30px;
        border: solid 5px;
        border-color: black;
       

        .closecontact {
            width:100%;
            padding-left: 0;
            padding-right: 0;
            cursor: pointer; // Change le curseur en main
            transition: transform 0.2s ease; // Animation au survol
            position: relative;

            &:hover {
                transform: scale(1.1); // Agrandissement au survol
            }

            &::after {
                content: attr(title); // Utilise l'attribut "title" pour le contenu de l'infobulle
                position: absolute;
                bottom: 110%; // Place l'infobulle au-dessus de l'image
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(0, 0, 0, 0.75); // Fond noir semi-transparent
                color: white;
                padding: 5px 10px;
                border-radius: 4px;
                font-size: 12px;
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }

            &:hover::after {
                opacity: 1; // Affiche l'infobulle au survol
                visibility: visible;
            }
        }
        
        
        #wpcf7-f71-o1 > form {
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
                label {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 500;
                    font-family:'Poppins', sans-serif; 
                }
                input {
                    border-color: #B8BBC2;
                    border: solid 1px;
                    border-radius: 8px;
                    height: 40px;
                }
                .btnenvoi {
                    width: 100%;
                    background-color: #B8BBC2;
                    border: 0;
                    padding: 5px;
                    border-radius: 8px;
                    }
        }
    }
}
/******PAGE INFO PHOTO*****////

.photo-content {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; // Adaptation à la hauteur de l'écran
    box-sizing: border-box;

    .content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        max-width: 1200px;
        margin: 50px auto;

    // Bloc de gauche (50%)
        .photo-infos {
            width: calc(50% - 15px);
            padding: 30px 30px 80px 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-sizing: border-box;
            border-bottom: 1px solid black; /* Bordure noire en bas */
            

        .photo-title {
            font-size: clamp(24px, 4vw, 60px);
            font-weight: 400;
            font-style: italic;
            line-height: 1;
            margin-bottom: 20px;
            max-width: 100%;
            text-transform: uppercase;
        }

        .photo-details {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 16px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
        }
    }

    // Bloc de droite (50%)
    .photo-display {
        width: calc(50% - 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}

    // Bloc des interactions en dessous (118px de hauteur)
    .interactions {
        width: 100%;
        height: 118px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        box-sizing: border-box;
        border-bottom: 1px solid black;

        .contact-link {
            display: flex;
            font-size: 14px;
            width: calc(50% - 15px);
            justify-content: space-between;

            .bouton-contact {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                width: 272px; 
                background-color: #D8D8D8; 
                border: none; 
                border-radius: 2px; 
                cursor: pointer; 
                transition: background-color 0.3s ease; 
                    &:hover {
                        background-color: black; 
                        a {
                        color: white;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 12px; 
                    }
            }
        }
    }

        .navigation-container {
            position: relative; /* Conteneur pour le positionnement de la miniature */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        /* Style des liens avec les images de flèches */
        .navigation-links {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 20px;
        }
        
        .navigation-links a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
          /* Afficher la miniature au survol des flèches */
        .navigation-links a:hover + .thumbnail-preview {
            display: block;
        }        

        .navigation-links a img {
            width: 100%;
            height: auto;
        }
        
        /* Miniature */
        .thumbnail-preview {
            position: absolute;
            bottom: calc(100% + 10px); /* Place la miniature 10px au-dessus des flèches */
            left: 50%;
            transform: translateX(-50%);
            width: 80px; /* Largeur de la miniature */
            height: 60px; /* Hauteur de la miniature */
            background-size: cover;
            background-position: center;
            display: none; /* Cachée par défaut */
            z-index: 10; /* S'assure que la miniature apparaît au-dessus des autres éléments */
        }
    }
    @media screen and (max-width: 768px) {
        .photo-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            padding: 0;

            .content-wrapper {
                display: flex;
                flex-direction: column-reverse;
                justify-items: center;
                margin: 0;
                gap: 0;

                .photo-infos {
                    width: 100%;
                    padding: 0;
                }

                .photo-display {
                    width: 100%;
                }
        }
    
        .interactions {
            align-items: center;
            .contact-link {
                display: flex;
                flex-direction: column;
                width: 100%;

                .bouton-contact {
                    width: 263px;
                    height: 50px;
                }
            }

            .navigation-container {
                display: none;  /* Ajout de marges pour éviter que le contenu colle aux bords */
            }
        }
    }
    .photos {
        h2 {
            text-align: center;
        }
    }

    footer {
        ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        }
    }
}