@charset "UTF-8";
* {
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace; /* Police principale */
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
header .logo {
  padding-top: 20px;
}
header ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
header ul a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(12px, 2vw, 16px);
}
header ul a:hover {
  font-weight: 700;
}

.lightboxbut {
  display: flex;
  gap: 10px;
  color: white;
  padding: 0 30px;
}

.fancybox__nav .f-button {
  width: 100px;
}

.fancybox__slide .fancybox__caption {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.lightboxcaption {
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.lightboxcaption p {
  text-transform: uppercase;
  color: white;
}

main {
  margin: 0 auto; /* Centre le contenu horizontalement */
  padding: 0;
}

.banner {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  margin: 0;
  padding: 0;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.banner h1 {
  font-size: 80px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  margin: 0;
}

.hidden {
  display: none;
}

.photos {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}
.photos form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photos .myform {
  border-radius: 8px;
  border-color: #B8BBC2;
  padding: 10px 10px;
  min-width: 200px;
}
.photos .myform:hover {
  border-color: #215AFF;
}

.filtres1 {
  display: flex;
  gap: 10px;
}

.select2-container {
  min-width: 200px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

/* Lorsque le filtre est ouvert, masquer le label */
.select2-container--open .select2-selection__rendered {
  display: none; /* Masque le texte du label */
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #FFD6D6 !important;
  font-family: "Poppins", sans-serif;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  display: none;
}

.select2-results__option[aria-selected] {
  font-family: "Poppins", sans-serif;
}

.photos_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px 0;
}
.photos_list .photo_item {
  width: calc(50% - 15px);
  position: relative;
}
.photos_list .photo_item:hover .overlay {
  display: flex;
}
.photos_list .photo_item img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}
.photos_list .photo_item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  display: none;
  cursor: pointer;
  /* Conteneurs des icônes */
}
.photos_list .photo_item .overlay .full {
  position: absolute;
  top: 20px; /* Distance depuis le haut */
  right: 20px; /* Distance depuis la droite */
  width: 24px;
  height: 24px;
}
.photos_list .photo_item .overlay .full img {
  width: 24px; /* Taille de l’icône */
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain; /* Ajuste la taille pour éviter l'étirement */
}
.photos_list .photo_item .overlay .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.photos_list .photo_item .overlay .eye img {
  width: 24px; /* Taille de l’icône */
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain; /* Ajuste la taille pour éviter l'étirement */
}
.photos_list .photo_item .overlay .infos {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px; /* Distance depuis le bas */
  left: 10px;
  right: 10px;
  box-sizing: border-box;
}
.photos_list .photo_item .overlay .infos div {
  color: white;
  font-size: 14px;
  text-align: center; /* Centre le contenu textuel dans chaque div */
  padding: 0 10px; /* Ajoute un espace interne pour éviter que le contenu touche les bords */
  text-transform: uppercase;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.load-more button {
  width: 272px;
  padding: 10px 20px;
  font-size: 12px;
  color: black;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.load-more button:hover {
  background-color: black;
  color: white;
}

footer {
  border-top: 1px solid black;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
}
footer ul a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
footer p {
  text-transform: uppercase;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}
.popup.show {
  display: flex;
}
.popup .popupin {
  width: 100%;
  max-width: 600px;
  min-height: 200px;
  background-color: white;
  padding-top: 30px;
  border: solid 5px;
  border-color: black;
  overflow: hidden;
}
.popup .popupin .closecontact {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}
.popup .popupin .closecontact:hover {
  transform: scale(1.1);
}
.popup .popupin .closecontact::after {
  content: attr(title);
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popup .popupin .closecontact:hover::after {
  opacity: 1;
  visibility: visible;
}
.popup .popupin #wpcf7-f71-o1 > form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup .popupin #wpcf7-f71-o1 > form label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.popup .popupin #wpcf7-f71-o1 > form input {
  border-color: #B8BBC2;
  border: solid 1px;
  border-radius: 8px;
  height: 40px;
}
.popup .popupin #wpcf7-f71-o1 > form .btnenvoi {
  width: 100%;
  background-color: #B8BBC2;
  border: 0;
  padding: 5px;
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  header .logo {
    padding: 20px;
  }
  header .logo img {
    width: 137px;
  }
  /*burger*/
  header nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  #menu-header {
    display: none;
  }
  #menu-header.fixed {
    width: 100vw;
    position: fixed;
    top: 90px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    background-color: red;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding-left: 0;
  }
  #menu-header a {
    font-size: 6vw;
    color: white;
  }
  .burger-menu {
    display: flex;
    width: 34px;
    height: 27px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    gap: 3px;
  }
  .burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .burger-menu.fixed .line:first-child {
    transform: rotate(45deg) translateY(16px);
  }
  .burger-menu.fixed .line:nth-child(2) {
    display: none;
  }
  .burger-menu.fixed .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-18px);
  }
  .banner {
    height: 300px; /* Réduction de la hauteur de la bannière */
  }
  .banner img {
    height: 100%; /* S'assure que l'image couvre bien la hauteur */
    width: 100%;
  }
  .banner h1 {
    font-size: 30px;
    -webkit-text-stroke-width: 1px; /* Ajustement de l'épaisseur du contour */
  }
  .lightboxcaption {
    width: 350px;
  }
  .photos .select-filtres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Permet au champ de prendre toute la largeur disponible */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  }
  .photos .select-filtres .filtres1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photos .select-filtres .filtres1 .myform {
    margin-bottom: 5px;
  }
  .photos .select-filtres .filtres2 {
    flex-direction: column;
  }
  .photos_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .photos_list .photo_item {
    position: relative;
    height: 278px;
    width: 80%;
  }
  .photos_list .photo_item img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  footer .footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0;
  }
  footer .footer-menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .footer-menu ul li a {
    font-size: 16px;
  }
}
/******PAGE INFO PHOTO*****/
.photo-content {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  box-sizing: border-box;
  /* Style des liens avec les images de flèches */
  /* Afficher la miniature au survol des flèches */
  /* Miniature */
}
.photo-content .content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}
.photo-content .content-wrapper .photo-infos {
  width: calc(50% - 15px);
  padding: 30px 30px 80px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  border-bottom: 1px solid black; /* Bordure noire en bas */
}
.photo-content .content-wrapper .photo-infos .photo-title {
  font-size: clamp(24px, 4vw, 60px);
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  margin-bottom: 20px;
  max-width: 100%;
  text-transform: uppercase;
}
.photo-content .content-wrapper .photo-infos .photo-details {
  list-style: none;
  padding: 0;
  margin: 0;
}
.photo-content .content-wrapper .photo-infos .photo-details li {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.photo-content .content-wrapper .photo-display {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.photo-content .content-wrapper .photo-display img {
  max-width: 100%;
  height: auto;
}
.photo-content .interactions {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
}
.photo-content .interactions .contact-link {
  display: flex;
  font-size: 14px;
  width: calc(50% - 15px);
  justify-content: space-between;
}
.photo-content .interactions .contact-link .bouton-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 272px;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.photo-content .interactions .contact-link .bouton-contact:hover {
  background-color: black;
}
.photo-content .interactions .contact-link .bouton-contact:hover a {
  color: white;
}
.photo-content .interactions .contact-link .bouton-contact a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.photo-content .navigation-container {
  position: relative; /* Conteneur pour le positionnement de la miniature */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-content .navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}
.photo-content .arrows {
  width: 80px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.photo-content .arrows .navigation-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  cursor: pointer;
}
.photo-content .navigation-links a:hover + .thumbnail-preview {
  display: block;
}
.photo-content .navigation-links a img {
  width: 100%;
  height: auto;
}
.photo-content .thumbnail-preview {
  display: flex;
  height: 80px;
}
.photo-content .thumbnail-preview a {
  width: 80px; /* Largeur de la miniature */
  height: 80px; /* Hauteur de la miniature */
}

@media screen and (max-width: 768px) {
  .photo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 0;
  }
  .photo-content .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    margin: 0;
    gap: 0;
  }
  .photo-content .content-wrapper .photo-infos {
    width: 100%;
    padding: 0;
  }
  .photo-content .content-wrapper .photo-display {
    width: 100%;
  }
  .photo-content .interactions {
    align-items: center;
  }
  .photo-content .interactions .contact-link {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .photo-content .interactions .contact-link .bouton-contact {
    width: 263px;
    height: 50px;
  }
  .photo-content .interactions .navigation-container {
    display: none; /* Ajout de marges pour éviter que le contenu colle aux bords */
  }
  .photos h2 {
    text-align: center;
  }
  .filtres1 {
    gap: 0;
  }
  body > main > section.photos > div.filtres > form > div.filtres1 > div:nth-child(1) {
    margin-bottom: 0;
  }
  body > main > section.photos > div.filtres > form > div.filtres1 > div:nth-child(2) {
    margin: 24px;
  }
}
.choices {
  height: 50px;
}

.choices__inner {
  border: 1px solid #ccc !important; /* Bordure grise */
  background-color: #fff !important; /* Fond blanc */
  color: #000 !important; /* Texte noir */
  text-transform: uppercase !important; /* Texte en majuscules */
  font-size: 14px !important; /* Taille de police ajustée si nécessaire */
  min-width: 200px !important;
  min-height: auto !important;
  border-radius: 8px !important; /* Coins arrondis */
  box-sizing: border-box;
}

/* Personnalisation de la liste déroulante */
.choices__list--dropdown {
  border: 1px solid #ccc !important; /* Bordure grise */
  background-color: #fff !important; /* Fond blanc */
}

/* Options dans la liste déroulante */
.choices__item--selectable {
  color: #000 !important; /* Texte noir */
}

/* Option sélectionnée */
/* Option survolée */
.choices__item--selectable.is-highlighted {
  background-color: #FFD6D6 !important;
  color: #000 !important;
}

.choices__item--selectable.is-selected {
  background-color: #E00000 !important;
  color: #fff !important;
}

.choices__list--dropdown .choices__item--selectable:first-child {
  color: white !important;
  background-color: white !important;
}

/* Bordure et autres ajustements pour un affichage cohérent */
.choices__input {
  border: none !important; /* Pas de bordure pour l'entrée */
  outline: none !important; /* Pas de surlignage au focus */
  text-transform: uppercase !important; /* Texte en majuscules */
  color: #000 !important; /* Texte noir */
}/*# sourceMappingURL=style.css.map */